streamlit
flask
fastapi
uvicorn
jinja2
requests
pydantic
python-dotenv
python-multipart
google-generativeai
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-huggingface
openai
chromadb
pypdf
twilio
faiss-cpu
sentence-transformers
